body{background-color:#ffffff;}
.card-sub{display:block;margin:5px 0 10px 0;font-size:.9rem;background:#f7f8fa;color:#575962;padding:0.85rem 1.5rem;border-radius:4px}
footer{width:100%;height:50px;line-height:50px;display:flex;justify-content:center}
.bt{width:100%;margin-top:25px}
.jsxs-boder{box-shadow:0 2px 17px 2px rgb(222,223,241)}
.layui-card-header{font-size:15px}
.jsxs-gg-ico{font-size:17px;color:#000000}
.jsxs-main{padding-top:20px}
.jsxs-row{border-radius:4px;position:relative;z-index:1;padding:20px 10px;background-color:#70c3ff;text-align:center}
.jsxs-row-img{border-radius:50%;width:45px}
.jsxs-row:hover{transform:translateY(-6px);box-shadow:0 26px 40px -24px rgba(0,36,100,0.3);transition:all 0.3s ease;}
.title{height:22px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;color:#fff;margin-top:20px;margin-bottom:10px}
.jsxs-title-1{color:#fff;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
::-webkit-scrollbar{width:9px;height:9px}
::-webkit-scrollbar-track-piece{background-color:#ebebeb;-webkit-border-radius:4px}
::-webkit-scrollbar-thumb:vertical{height:32px;background-color:#ccc;-webkit-border-radius:4px}
::-webkit-scrollbar-thumb:horizontal{width:32px;background-color:#ccc;-webkit-border-radius:4px}
.page-loader{width:100%;height:100%;position:fixed;top:0;left:0;background-color:#f3f3f3;z-index:999999999;align-items:center;justify-content:center;display:flex}
.page-loader__spinner{position:relative;width:50px;height:50px}
.page-loader__spinner svg{animation:rotate 2s linear infinite;transform-origin:center center;width:100%;height:100%;position:absolute;top:0;left:0}
.page-loader__spinner svg circle{stroke-dasharray:1,200;stroke-dashoffset:0;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;stroke-linecap:round}
@keyframes rotate{100%{transform:rotate(360deg)}
}@keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}
     50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}
     100%{stroke-dasharray:89,200;stroke-dashoffset:-124px}
 }@keyframes color{100%,0%{stroke:#ff5652}
      40%{stroke:#2196f3}
      66%{stroke:#32c787}
      80%,90%{stroke:#ffc107}
  }
  .img-avatar{
      animation-name: zoomInDown;
      animation-fill-mode: both;
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
      display: inline-block !important;
      width: 35px;
      border-radius: 50%;
  }
  .ks-name{
      padding-left: 10px;
      font-size: 12px;
  }
.ksfsimoo{
    line-height: 35px;
    text-align: center;
}
.ksfsimoi{
    line-height: 35px;
    text-align: center;
    color: #00FF00;
}
.ks-fff{
    padding: 0 10px 0 0;
}
#ksphbb tr td{
    text-align: center;
}